.m-width-card {
    max-width: 240px;
    width: 100%;
}
.d-flex {
    display: flex;
}
.flex-colum{
    flex-direction: column;
}
.d-none{
    display: none;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.h-70 {
    height: 70px;
}
.h-40{
    height: 40px;
}
.h-45{
    height: 45px;
}
.w-70 {
    width: 70px;
}

.w-100 {
    width: 100%;
}
.w-40{
    width: 40px;
}
.w-45{
    width: 45px;
}
.m-w-100 {
    max-width: 100%;
}

.m-w-300 {
    max-width: 300px;
}
.m-w-50{
    max-width: 50%;
}
.bg-dark-blue{
    background-color: #001538 !important;
}
.bg-light-blue{
    background-color: #F1F5FB !important
}
.bg-sky{
    background-color: #EEFAFF;
}
.bg-red{
    background-color: #FDECED;
}
.bg-white{
    background-color: #FFF;
}
.red{
 color: #CC323B 
}
.dark-blue{
   color: #005AD2;
}
.aside-color{
color: #0d6efd;
}
.sky-blue{
    color: #009FDA 
}
.light-gray{
    color: rgb(121, 136, 177) !important;
}
.white-color{
    color: white;
}
.light-blue{
    color: #7988b1;
}
.border-simple {
    border: 3px solid rgb(255, 255, 255);
}
.mt-90{
    margin-top: -90px;
}
.mt-100{
    margin-top: -100px !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.ml-25{
    margin-left: 25px;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-48{
    margin-bottom: 48px;
}
.mr-16{
    margin-right: 16px;
}
.mb-24{
    margin-bottom: 24px;
}
.m-auto{
    margin: 0 auto;
}
.m-card{
    margin-right: 1rem!important;
    margin-left: 1rem!important;
}
.mt-025{
    margin-top: .25rem!important;
}

.b-radius-50 {
    border-radius: 50%;
}
.b-radius-05{
    border-radius: 0.5rem;
}
.b-radius-16 {
    border-radius: 16px;
}
.b-radius-7{
    border-radius: 0.7rem;
}
.b-radius-03{
    border-radius: .3rem!important;
}

.text-right {
    text-align: right;
}
.text-center{
    text-align: center;
}

.f-w-500{
    font-weight: 500 !important;
}

.f-w-600 {
    font-weight: 600 !important;
}

.f-size-14 {
    font-size: 14px;
}
.f-size-21{
    font-size: 21px;
}
.f-size-16 {
    font-size: 16px;
}
.f-size-1-25{
    font-size: 1.25rem;
}

.f-size-18 {
    font-size: 18px;
}

.f-size-20 {
    font-size: 20px;
}

.card-padding {
    padding: 16px 24px;
}
.card-hover-tb{
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}
.card-hover-tb2{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.card-hover-lr{
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}
.card-hover-lr2{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.padding-lr-1r{
    padding-inline: 1rem;
}
.padding-top-1r{
    padding-top: 1rem;
}
.padding-b-1r{
    padding-bottom: 1rem;
}
.padding-16{
    padding: 16px 0 !important;
}
.padding-lr-24{
    padding-inline:  24px !important;
}
.padding-btn{
    padding: 8px 12px;
}
.position-rel {
    position: relative;
}
.position-fix{
    position: fixed;
}
.position-ab {
    position: absolute;
}
.top-0 {
    top: 0;
}
.right-0{
    right: 0;
}
.left-0{
    left: 0;
}
.bottom-100{
    bottom: 100%;
}

.left-105 {
    left: 105%;
}

.translatey-50 {
    transform: translateY(-50%);
}

.m-l {
    margin-left: auto;
}
.rotate-90{
    transform: rotate(90deg);
}
.z-44{
    z-index: 44;
}
.op-6{
    opacity: 0.6;
}